#Id_0
{
color:black;
background-color:#EEEEEE;
position:absolute;
top:0px;
left:0px;
height:600;
width:1024;
opacity:1;
visibility:Visible;
text-align:default;
font-size:default;
font-family:default;
padding:0px;
margin:0px;
border-width:1px;
border-color:black;
border-style:solid;
}

#Id_1
{
color:black;
background-color:#EEEEEE;
position:absolute;
top:40px;
left:110px;
height:null;
width:null;
opacity:1;
visibility:Visible;
text-align:default;
font-size:default;
font-family:sans-serif;
padding:0px;
margin:0px;
border-width:0px;
border-color:#FFFFFF;
border-style:solid;
text-decoration:none;
}

#Id_2
{
color:black;
background-color:#EEEEEE;
position:absolute;
top:40px;
left:195px;
height:null;
width:null;
opacity:1;
visibility:Visible;
text-align:default;
font-size:default;
font-family:sans-serif;
padding:0px;
margin:0px;
border-width:0px;
border-color:#FFFFFF;
border-style:solid;
text-decoration:none;
}

#Id_3
{
color:black;
background-color:#EEEEEE;
position:absolute;
top:40px;
left:390px;
height:null;
width:null;
opacity:1;
visibility:Visible;
text-align:default;
font-size:default;
font-family:sans-serif;
padding:0px;
margin:0px;
border-width:0px;
border-color:#FFFFFF;
border-style:solid;
text-decoration:none;
}

#Id_4
{
color:black;
background-color:#EEEEEE;
position:absolute;
top:40px;
left:335px;
height:null;
width:null;
opacity:1;
visibility:Visible;
text-align:default;
font-size:default;
font-family:sans-serif;
padding:0px;
margin:0px;
border-width:0px;
border-color:#FFFFFF;
border-style:solid;
text-decoration:none;
}

#Id_5
{
color:black;
background-color:#EEEEEE;
position:absolute;
top:550px;
left:920px;
height:null;
width:null;
opacity:1;
visibility:Visible;
text-align:default;
font-size:default;
font-family:sans-serif;
padding:0px;
margin:0px;
border-width:0px;
border-color:#FFFFFF;
border-style:solid;
text-decoration:none;
}

#Id_6
{
color:black;
background-color:#EEEEEE;
position:absolute;
top:108px;
left:110px;
height:400px;
width:800px;
opacity:1;
visibility:Visible;
text-align:default;
font-size:default;
font-family:sans-serif;
padding:5px;
margin:0px;
border-width:2px;
border-color:grey;
border-style:solid;
}

#Id_7
{
color:black;
background-color:#EEEEEE;
position:absolute;
top:550px;
left:840px;
height:null;
width:null;
opacity:1;
visibility:Visible;
text-align:default;
font-size:default;
font-family:sans-serif;
padding:0px;
margin:0px;
border-width:0px;
border-color:#FFFFFF;
border-style:solid;
text-decoration:none;
}

#Id_8
{
color:black;
background-color:#EEEEEE;
position:absolute;
top:200px;
left:200px;
height:40px;
width:150px;
opacity:1;
visibility:Visible;
text-align:default;
font-size:default;
font-family:cursive;
padding:0px;
margin:0px;
border-width:2px;
border-color:grey;
border-style:outset;
}

#Id_9
{
color:black;
background-color:#EEEEEE;
position:absolute;
top:200px;
left:425px;
height:40px;
width:150px;
opacity:1;
visibility:Visible;
text-align:default;
font-size:default;
font-family:cursive;
padding:0px;
margin:0px;
border-width:2px;
border-color:grey;
border-style:outset;
}

#Id_10
{
color:black;
background-color:#EEEEEE;
position:absolute;
top:200px;
left:650px;
height:40px;
width:150px;
opacity:1;
visibility:Visible;
text-align:default;
font-size:default;
font-family:cursive;
padding:0px;
margin:0px;
border-width:2px;
border-color:grey;
border-style:outset;
}

#Id_11
{
color:black;
background-color:#EEEEEE;
position:absolute;
top:350px;
left:200px;
height:40px;
width:150px;
opacity:1;
visibility:Visible;
text-align:default;
font-size:default;
font-family:cursive;
padding:0px;
margin:0px;
border-width:2px;
border-color:grey;
border-style:outset;
}

#Id_12
{
color:black;
background-color:#EEEEEE;
position:absolute;
top:350px;
left:425px;
height:40px;
width:150px;
opacity:1;
visibility:Visible;
text-align:default;
font-size:default;
font-family:cursive;
padding:0px;
margin:0px;
border-width:2px;
border-color:grey;
border-style:outset;
}

#Id_13
{
color:black;
background-color:#EEEEEE;
position:absolute;
top:350px;
left:650px;
height:40px;
width:150px;
opacity:1;
visibility:Visible;
text-align:default;
font-size:default;
font-family:cursive;
padding:0px;
margin:0px;
border-width:2px;
border-color:grey;
border-style:outset;
}

#Id_14
{
color:black;
background-color:#EEEEEE;
position:absolute;
top:140px;
left:200px;
height:40px;
width:600px;
opacity:1;
visibility:Visible;
text-align:default;
font-size:default;
font-family:sans-serif;
padding:0px;
margin:0px;
border-width:1px;
border-color:grey;
border-style:solid;
}

#Id_15
{
color:black;
background-color:#EEEEEE;
position:absolute;
top:410px;
left:200px;
height:40px;
width:600px;
opacity:1;
visibility:Visible;
text-align:default;
font-size:default;
font-family:sans-serif;
padding:0px;
margin:0px;
border-width:1px;
border-color:grey;
border-style:solid;
}

 
